html
  head
    title Error
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css')
  body
    nav(class='navbar is-fixed-top' role='navigation' aria-label='main navigation')
      div(class='navbar-brand')
        a(class='navbar-item')
          img(src='/hasura_starters.png' alt=appName style='height: 28px;')

    section(class='hero is-danger is-fullheight')
      div(class='hero-body')
        div(class='container')
          h1(class='title') Error!
          h2(class='subtitle')= message
