html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css')
  body
    nav(class='navbar' role='navigation' aria-label='main navigation')
      div(class='navbar-brand')
        a(class='navbar-item')
          img(src='/hasura_starters.png' alt=appName style='height: 28px;')

    section(class='hero is-light')
      div(class='hero-body')
        div(class='container')
          h1(class='title') Password Reset

    section(class='section')

      div(class='container')
        
        if error
          div(class="notification is-danger")= error

        if token

          form(action="/web/reset_password/" + token method="POST")

            div(class="field")
              label(class="label") New Password
                div(class="control")
                  input(class="input" type="password" name="password" placeholder="Password")

            div(class="field")
              label(class="label") Confirm New Password
                div(class="control")
                  input(class="input" type="password" name="password_confirmation" placeholder="Confirm Password")

            div(class="field")
              button(class="button is-info") Submit

